html,body {padding:0; margin:0}
body {
    font-family: system-ui;
    padding: 0 40px;
}
#filelist li {
    padding: 3px 0;
}
#filelist a, #filelist a:visited {
    color: #005caa;
    text-decoration: none;
}
#filelist a:hover {
    color: #555;
}
#filelist a:active {
    color: black;
}